extends layout

block content
  h1 Schools
  table
    tr
      th _id
      th Name
      th Logo
      th zip
      th lon
      th lat
    each school in schools
      - var school_url = "/schools/" + school.id
      include ./_school