extends layout

block content
  h1= school.name
  table
    tr.school(id="school_" + school.id)
      td.name= school.name
      td.img
        img("src"=school.logo)
      td.latitude= school.latitude
      td.longitude= school.longitude