extends layout


block content
  form(action="/search", method="POST", enctype="multipart/form-data")
    field
      label Street
      input(name='street')
    field
      label zip
      input(name='zip')
    button(type='submit', value="submit")