extends layout

block content
	if message
		message

	form(action="/users/login", method="post")
		.field
			label Username
			input(ype="text", name="username")
		.field
			label Password
			input(type="password", name="password")
		input(type="submit", value="Submit")